<!--
  index.html contains the main page for the application
  This is often the only web page of the application
  Hence an Angular application is often called a Single Page Application (SPA)
--><!doctype html><html lang="en"><head><meta charset="utf-8"><title>Acme Product Management</title><!--
    First step to setup routing is to define a base element in the head tag of index.html. Notice that
      Angular CLI already did that for us (<base href="/Angular-GettingStarted-APM">) This element tells the router how to compose
      the navigation URLs. Since the app folder is the app root, we'll set the href for the base tag
      to slash
  --><base href="/"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="icon" type="image/x-icon" href="favicon.ico"><link href="https://dynamicbalaji.github.io/Angular-GettingStarted-APM/styles.95ef2ab5d8b16ee4f75f.bundle.css" rel="stylesheet"/></head><body><pm-root></pm-root><!--
    pm-root is the selector name given in app.component.ts
    In HTML, its called as directive
    Directive - Custom HTML element or attribute used to power up and extend our HTML
      Custom or Built In Directives
    Angular Build-in Directives
      Structural Directives - modifies the structure or layout of a view by adding, removing or manipulating elements & their children
        *ngIf - If logic
        *ngFor - For loops
          Notice the * infront of the directive name, that marks the directive as a structural directive
  --><script type="text/javascript" src="https://dynamicbalaji.github.io/Angular-GettingStarted-APM/inline.cfc4f894cfcdb6b3222d.bundle.js"></script><script type="text/javascript" src="https://dynamicbalaji.github.io/Angular-GettingStarted-APM/polyfills.35726d60cdf25fecc5f1.bundle.js"></script><script type="text/javascript" src="https://dynamicbalaji.github.io/Angular-GettingStarted-APM/vendor.c25ab3ed439a918191fa.bundle.js"></script><script type="text/javascript" src="https://dynamicbalaji.github.io/Angular-GettingStarted-APM/main.44a86501460f93be48e8.bundle.js"></script></body></html>