<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By
            </div>
            <div class="col-md-4">
                <!--
                    Two-way Binding
                        ngModel directive
                            [] - property binding from class property to input element
                            () - event binding to send a notification of the user-entered data back to the class property
                        Tip - Visualize a 'Banana in a Box' - [()]
                -->
                <input type="text"
                        [(ngModel)]='listFilter'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered By: {{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table"
                            *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <!--
                                Event Binding
                                    () - Target Event && '' - Template Statement
                            -->
                            <button class="btn btn-primary"
                                    (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th> 
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <!--
                        for..of - iterates over objects, such as an array
                        for..in - iterates over properties of an object ('in' iterating the 'in'dex)
                    -->
                    <tr *ngFor="let product of products">
                        <td>
                            <!--
                                Property Binding
                                    <img [src]='product.imageUrl'/>    
                                        [] - Binding Target & '' - Binding Source
                                Interpolation
                                    <img src={{product.imageUrl}}/>
                                Property binding is preferred over Interpolation unless there is some complex logic like below is needed
                                    <img src='http://openclipart.org/{{product.imageUrl}}'/>
                            -->
                            <img *ngIf='showImage'
                                 [src]='product.imageUrl'
                                 [title]='product.productName'
                                 [style.width.px]='imageWidth'
                                 [style.margin.px]='imageMargin'/>
                        </td>
                        <td>{{product.productName}}</td>
                        <td>{{product.productCode | convertToSpaces: '-'}}</td>
                        <td>{{product.releaseDate}}</td>
                        <!--
                            Pipes
                                Transform bound properties before display
                                Built-in pipes - date, number, decimal, percent, currency, json, slice, etc
                                Custom pipes
                                Examples:
                                    In Interpolation - {{product.productName | lowercase}}
                                    In Property binding - <img [src]='product.imageUrl' [title]='product.productName | uppercase'/>
                                    Concatenate pipes - {{product.price | currency | lowercase}}
                                    Parameters of pipes - {{product.price | currency:'USD':true:'1.2-2'}}
                                        Parameters are defined by specifying a colon & parameter value
                                        Eg. currency pipe have 3 parameters - currency code, boolean value indicating whether to display
                                            currency symbol & digit info (min no. of integer digits, min no. of fractional digits & max
                                            no. of fractional digits)
                        -->
                        <td>{{product.price | currency:'USD':true:'1.2-2'}}</td>
                        <td>{{product.starRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>